<section class="card-container">
  <div class="card" *ngFor="let movie of movies">
    <div class="card-image">
      <figure class="image is-4by5">
        <img [src]="'https://www.themoviedb.org/t/p/w440_and_h660_face/' + movie.poster" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content p-3 m-0">
      <div class="content">
        <p class="title is-6">{{ movie.title }}</p>
        <p class="subtitle is-7 pt-2">01/12/1995</p>
      </div>
    </div>
  </div>

</section>
